<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>Rooms</div>
        </div>
        <div class="page-title-actions">
            <label class="text-danger">Count: {{ result.length }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)" class="">
                    <div class="position-relative form-group">
                        <label>Room<span class="text-danger">*</span></label>
                        <input placeholder="Room Name" type="text"formControlName="name"  class="form-control">
                        <em class="error text-danger small" *ngIf="formdata.controls.name.touched && formdata.controls.name.invalid">Please enter rooms</em>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Shortname<span class="text-danger">*</span></label>
                            <input placeholder="Shortname" type="text" formControlName="shortname" class="form-control">
                            <em class="error text-danger small"
                                *ngIf="formdata.controls.shortname.touched && formdata.controls.shortname.invalid">Please
                                enter your shortname</em>
                        </div>
                        <div class="col-md-4">
                            <label>Occupied Color<span class="text-danger">*</span></label>
                            <input placeholder="name" type="color" formControlName="ocolor"
                                class="form-control">
                            <em class="error text-danger small"
                                *ngIf="formdata.controls.ocolor.touched && formdata.controls.ocolor.invalid">Please
                                enter ocolor</em>
                        </div>
                        <div class="col-md-4">
                            <label>Vacant Color<span class="text-danger">*</span></label>
                            <input placeholder="name" type="color" formControlName="vcolor"
                                class="form-control">
                            <em class="error text-danger small"
                                *ngIf="formdata.controls.vcolor.touched && formdata.controls.vcolor.invalid">Please
                                enter vcolor</em>
                        </div>
                    </div>
                    

                    <input type="submit" [disabled]="formdata.invalid" value="Save" class="mt-2 btn btn-primary">
                    <button (click)="cancel()" [disabled]="formdata.invalid" class="mt-2  btn btn-danger" style="margin-left:10px;">Cancel</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-12 mt-2">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 150px;">Action</th>
                            <th style="width: 80px;">No</th>
                            <th>Name</th>
                            <th>Shortname</th>
                            <th>Occupied Color</th>
                            <th>Vacant Color</th>
                            <th>Beds</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of result; let i=index">
                            <td class="text-center">
                                
                                <button (click)="edit(data.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary"><i class="pe-7s-tools btn-icon-wrapper"> </i></button>
                                <button (click)="delete(data.id)" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>

                            </td>
                            <td class="text-right">{{i+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.shortname}}</td>
                            <td  [ngStyle]="{'background-color': data.ocolor }">{{data.ocolor}}</td>
                            <td  [ngStyle]="{'background-color': data.vcolor }">{{data.vcolor}}</td>
                            <td class="text-center">
                                <button class="btn btn-success " routerLink="/master/beds/{{ data.id }}">{{ data.bedcount }}</button>
                            </td>
                          
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>
